blinker==1.8.2
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.1.8
docker==7.1.0
Flask==3.0.3
greenlet==3.1.1
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
requests==2.32.4
SQLAlchemy==2.0.43
typing_extensions==4.13.2
urllib3==2.2.3
Werkzeug==3.0.6
zipp==3.20.2
